<div class="row-fluid">
  <div class="span8 offset2">
    <h2 class="form-header">
      <%= @trinket.name %>
    </h2>
    <% if !@trinket.errors.empty? %>
      <div class="error_messages">
        <h2>Invalid Fields</h2>
        <p>Correct the following errors and try again.</p>
        <ul>
          <% @trinket.errors.full_messages.each do |error_msg| %>
            <li><%= error_msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="center-align">
      <%= link_to "Edit", edit_user_trinket_path(@user, @trinket), :class => "btn" %>
      <a href="#add-attachment-modal" data-toggle="modal" class="btn">Add Attachment</a>
      <!-- TODO - delete btn -->
    </div>
    <div class="show-information">
      <div class="show-label">
        Description:
      </div>
      <div>
        <%= @trinket.description %>
      </div>
      <div class="show-label">
      Serial Number:
      </div>
      <div>
        <%= @trinket.serial_number %>
      </div>
      <div class="show-label">
      Date Acquired:
      </div>
      <div>
        <%= @trinket.date_acquired %>
      </div>
      <div class="show-label">
      Quantity:
      </div>
      <div>
        <%= @trinket.quantity %>
      </div>
      <div class="show-label">
      Current Value:
      </div>
      <div>
        <%= @trinket.current_value %>
      </div>
    </div>
    <!-- TODO: add delete ability for images/attachments -->
    <h4 class="center-align">Images:</h4>
    <div class="center-align">
      <% image_exists = false %>
      <% @trinket_attachments.each do |attachment| %>
        <% if !(attachment.attachment_content_type =~ /^image/).nil? %>
          <% image_exists = true %>
          <span>
            <!-- TODO - add a link to explicitly get the full size image -->
            <%= link_to (image_tag attachment.attachment.url(:thumb)), attachment.attachment.url(:large), {:class => "thumbnail-img", :rel => "lightbox[image]", :title => attachment.description } %>
          </span>
        <% end %>
      <% end %>
      <% if !image_exists %>
        None
      <% end %>
    </div>
    <br/>
    <h4 class="center-align">Attachments:</h4>
    <div class="center-align">
      <% nonimage_exists = false %>
      <% @trinket_attachments.each do |attachment| %>
        <% if (attachment.attachment_content_type =~ /^image/).nil? %>
          <% nonimage_exists = true %>
          <div>
            <%= link_to attachment.attachment_file_name, attachment.attachment.url %>
          </div>
        <% end %>
      <% end %>
      <% if !nonimage_exists %>
        None
      <% end %>
    </div>
  </div>
</div>

<%= render 'attachment_form', :resource => [@user, @trinket, @trinket.trinket_attachments.build]%>