<div class="row-fluid">
  <div class="span6 offset3">
    <h2>Sign in</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
      <fieldset>
        <div class="control-group">
          <%= f.label :login, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :login %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="control-group">
            <%= f.label :remember_me, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :remember_me %>
            </div>
          </div>
        <% end %>

        <div>
          <%= f.submit "Sign in", :class => "btn btn-primary" %>
          <br/>
          <br/>
          <%= link_to "", user_omniauth_authorize_path(:facebook), :class => "facebook-login" %>
          <%= link_to "", user_omniauth_authorize_path(:twitter), :class => "twitter-login" %>
        </div>
      </fieldset>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>